{% extends "base.html" %}
{% block content %}
  <h1>Delete dish: {{ dish }}</h1>
  <div>
    <p class="alert alert-warning alert-dismissible fade show" role="alert">
      Are you sure you want to delete dish <b>{{ dish }}</b> from database?
    </p>
  </div>

  <form action="" method="post">
    {% csrf_token %}
    <a href="{% url "kitchen:dish-list" %}" class="btn btn-outline-primary">CANCEL</a>
    <input type="submit" value="DELETE" class="btn btn-danger">
  </form>

{% endblock %}
