{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <table>
    <tr>
      <td><h1>List of workers</h1></td>
      <td width="20"></td>
      <td><a href="{% url 'kitchen:worker-create' %}" class="btn btn-primary">ADD NEW WORKER</a></td>
      <td>
        <form method="get" action="" class="form-inline">
          {{ search_form|crispy }}
          <input class="btn btn-secondary" type="submit" value="⌕">
        </form>
      </td>
    </tr>
  </table>

  {% if worker_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Position</th>
        <th>Head</th>
        <th>Kitchen</th>
      </tr>
      {% for worker in worker_list %}
        <tr>
          <td>{{ worker.id }}</td>
          <td><a href="{{ worker.get_absolute_url }}">{{ worker.username }} {% if user == worker %} 😀{% endif %}</a>
          </td>
          <td>{{ worker.first_name }}</td>
          <td>{{ worker.last_name }}</td>
          <td>{{ worker.position }}</td>
          <td>{% if worker.position.lead_position %}✅{% else %}✖️{% endif %}</td>
          <td>{% if worker.position.kitchen %}✅{% else %}✖️{% endif %}</td>
        </tr>
      {% endfor %}

    </table>
  {% else %}
    <p>There are no workers in the service</p>
  {% endif %}
{% endblock %}
